/* 
  estilos para la pagina principal de Youtube.
*/
:root{
  --color1: #0F0F0F;
  --color2: #f1f1f1;
  --color2l: #aaa;
  --color2ll: #ffffff33;
  --color2lb: #272727;
  --colorHover: #323232;
  --color3: #020202;
  --color4: #3e9ae8;
}
header, .contenedor-etiquetas{
  z-index: 10;
}
.icono-acceder .nav-icono-acceder{
  fill: var(--color4);
}
::-webkit-scrollbar{
  width: 10px;
  background-color: var(--color1);
}
::-webkit-scrollbar-thumb{
  background-color: var(--color2l);
  border-radius: 10px;
}
button{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border: none;
}
.tres-lineas{
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  transition: 0.2s;
}
.tres-lineas:hover, .seccion-barra .barra-botones:hover, .flechaSiguiente a:hover, .mostrar-mas-shorts:hover, .audio:hover, .tres-puntos button:active{
  background-color: var(--colorHover);
}
button:active, .tres-lineas:active, .mostrar-mas-shorts:active{
  background-color: var(--color1);
}
.barraBusqueda{
  width: 750px;
}
#barraDeNavegacion{
  background-color: var(--color1);
  padding-left: 16px;
  overflow: hidden;
}
.filas-categorias{
  display: flex;
}
.barra-lateral{
  display: none;
}

.icono-acceder:hover{
  background-color: #23384E;
  border-color: #23384E;
}
.main{
  width: 100%;
  padding: 16px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-etiquetas{
  width: 100%;
  position: sticky;
  top: 56px;
  align-items: center;
  gap: 10px;
  height: 55px;
  background-color: var(--color1);
  overflow: hidden;
}
.etiquetasyt:first-child{
  background-color: var(--color2);
  color: black;
}
.etiquetasyt{
  display: flex;
  background-color: var(--color2lb);
  padding: 8px 10px;
  font-weight: 500;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
}
.etiquetasyt:nth-child(n+2):hover{
  transition: 1s;
  background-color: #535353;
}
.flechaSiguiente{
  display: flex;
  position: absolute;
  right: 0;
}
.flechaSiguiente div{
  height: 60px;
  width: 26px;
  background: transparent;
  background: linear-gradient(90deg, #ffffff00 0%, var(--color1) 100%);
}
.flechaSiguiente .contenedor-flecha{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 60px;
  background-color: var(--color1);
}
.flechaSiguiente a{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.flechaSiguiente a svg{
  fill: var(--color2);
  height: 24px;
  width: 24px;
  border-radius: 50%;
}
.anuncio{
  background-color: black;
  padding: 24px 24px 32px 42px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-right: 15px;
  display: none;
}
.contenedor-X{
  height: 24px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -10px;
}
.X{
  fill: var(--color2);
  height: 24px;
  width: 24px;
}
#ytmusic{
  height: 24px;
  width: 320px;
}
.boton-descarga{
  border-radius: 18px;
  margin-top: 20px;
  border: 1px solid var(--color2);
  width: fit-content;
  padding: 7px 14px;
  font-weight: 500;
  font-size: 14px;
}
.contenido{
  display: flex;
  justify-content: center;
}
.seccion-videos{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  gap: 12px;
  row-gap: 32px;
  padding: 24px 24px 40px;
  width: fit-content;
}
.video:nth-child(n+3){
  display: none;
}
.video{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  max-width: 500px;
  max-height: 380px;
}
.img-video{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.perfil{
  display: flex;
  gap: 10px;
}
.img-perfil{
  width: 32px;
  border-radius: 50%;
}
.contenido-perfil h2{
  font-size: 16px;
  max-height: 44px;
  max-width: 440px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contenido-perfil h3 a, .contenido-perfil span{
  font-size: 14px;
  color: var(--color2l);
  font-weight: normal;
}
.canal-tipo{
  width: 12px;
  height: 12px;
  fill: var(--color2);
  margin-left: 5px;
}
.seccion-shorts{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 24px;
  overflow: hidden;
}
.logo-shorts{
  height: 24px;
  width: 24px;
}
.titulo-shorts{
  display: flex;
  width: 100%;
  gap: 8px;
}
.titulo-shorts h2{
  font-size: 20px;
}
.shorts{
  display: flex;
  gap: 12px;
  border-bottom: 1px solid var(--color2lb);
  padding-bottom: 50px;
  justify-content: center;
}
.short, .contenido-short{
  position: relative;
  display: flex;
  flex-direction: column;
}
.contenido-short{
  gap: 6px;
  width: 100%;
  overflow: hidden;
}
.contenido-short h3{
  max-width: 195px;
  max-height: 40px;
  overflow: hidden;
}
.short{
  row-gap: 12px;
}
.short-img{
  width: 100%;
  border-radius: 15px;
}
.tres-puntos-short{
  border-radius: 50%;
  display: flex;
  opacity: 0;
  border: none;
  cursor: pointer;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.2s;
}
.contenido-short:hover .tres-puntos-short{
  opacity: 1;
}
.tres-puntos-short:active{
  background-color: var(--colorHover);
}
.tres-puntos-short svg{
  margin: 0;
}
.contenido-short h3{
  font-size: 16px;
  font-weight: 500;
}
.contenido-short span{
  font-size: 14px;
  color: var(--color2l);
}
.short:nth-child(n+2){
  display: none;
}
.contenedor-mostrar-mas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -42px;
}
.mostrar-mas-shorts{
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 360px;
  padding: 4px 0;
  border: 1px solid var(--color2lb);
  border-radius: 40px;
  background-color: var(--color1);
}
.flecha-abajo{
  height: 24px;
  width: 24px;
  fill: var(--color2);
}

@media only screen and (min-width: 500px){
  .short:nth-child(2){
    display: flex;
  }
}
@media only screen and (min-width: 700px){
  .short:nth-child(3){
    display: flex;
  }
  .seccion-videos{
    grid-template-columns: repeat(2,1fr);
  }
  .video:nth-child(n){
    display: flex;
  }
  .video:nth-child(n+5){
    display: none;
  }
}
@media only screen and (min-width: 800px){
  .main{
    width: 94%;
  }
  .barra-lateral{
    height: 100vh;
    overflow: scroll;
    top: 56px;
    position: sticky;
    background-color: var(--color1);
    width: 6%;
    visibility: visible;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-bottom: 56px;
    margin-left: 5px;
  }
  .barra-lateral::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color1);
  }
  .barra-lateral::-webkit-scrollbar-thumb{
    background-color: var(--color1);
    border-radius: 8px;
  }
  .seccion-barra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1px;
  }
  .seccion-barra .barra-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
    border-radius: 10px;
  }
  .seccion-barra a span, .seccion-barra p{
    font-size: 10px;
  }
  .seccion-barra a svg{
    width: 24px;
    height: 24px;
    fill: var(--color2);
  }
  .seccion-barra:nth-child(n+3){
    display: none;
  }
  /* -------------scrollpequeño---------------- */
}
@media only screen and (min-width: 1098px){
  .short:nth-child(4){
    display: flex;
  }
  .seccion-videos{
    grid-template-columns: repeat(3,1fr);
  }
  .video:nth-child(n){
    display: flex;
  }
  .video:nth-child(n+7){
    display: none;
  }
}
@media only screen and (min-width: 1170px){
  .short:nth-child(5){
    display: flex;
  }
}

@media only screen and (min-width: 1300px){
  .main{
    padding-left: 24px;
    padding-right: 24px;
  }
  .seccion-barra:nth-child(n+3){
    display: flex;
  }
  .main{
    width: 85%;
  }
  .barra-lateral{
    width: 15%;
  }
  .seccion-barra .barra-botones{
    flex-direction: row;
    gap: 20px;
    padding: 8px;
  }
  .short:nth-child(n+4){
    display: none;
  }
  .short:nth-child(4){
    display: flex;
  }
  .barra-lateral::-webkit-scrollbar-thumb{
    background-color: var(--color1);
    border-radius: 8px;
  }
  .barra-lateral:hover::-webkit-scrollbar-thumb{
    background-color: var(--color2l);
  }
  .seccion-barra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 1px solid var(--color2lb);
    padding: 14px 12px;
    row-gap: 1px;
  }
  .seccion-barra:first-child{
    border: none;
  }
  .seccion-barra:nth-child(3){
    gap: 12px;
    padding: 16px 4px 16px 18px;
    line-height: 18px;
  }
  .seccion-barra:nth-child(3) p{
    padding-right: 12px;
  }
  .seccion-barra:nth-child(3) .icono-contenedor{
    width: fit-content;
  }
  .seccion-barra:last-child{
    row-gap: 12px;
    font-size: 13px;
    line-height: 18px;
  }
  .seccion-barra:last-child p{
    font-size: 12px;
    color: #717171;
  }
  .seleccionado{
    background-color: var(--color2lb);
  }
  .seccion-barra a span, .seccion-barra p{
    font-size: 14px;
  }
  .seccion-barra h2{
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 8px;
  }
  /* ------------scrollgrande-------------- */
  .seccion-barra{
    max-width: 240px;
  }
  .short-img{
    max-width: 328px;
  }
}
@media only screen and (min-width: 1344px){
  .short:nth-child(5){
    display: flex;
  }
}
@media only screen and (min-width: 1592px){
  .short:nth-child(6){
    display: flex;
  }
}
@media only screen and (min-width: 1640px){
  .barra-latera{
    width: 12%;
  }
  .main{
    width: 88%;
  }
  .seccion-videos{
    grid-template-columns: repeat(4,1fr);
  }
  .video:nth-child(n){
    display: flex;
  }
  .video:nth-child(n+9){
    display: none;
  }
}
@media only screen and (min-width: 1920px){
  .seccion-videos{
    grid-template-columns: repeat(5,1fr);
  }
  .video:nth-child(n){
    display: flex;
  }
  .video:nth-child(n+11){
    display: none;
  }
  .short:nth-child(7){
    display: flex;
  }
}
@media only screen and (min-width: 2240px){
  .seccion-videos{
    grid-template-columns: repeat(6,1fr);
  }
  .video:nth-child(n){
    display: flex;
  }
  .video:nth-child(n+13){
    display: none;
  }
  .short:nth-child(n+8){
    display: flex;
  }
}
@media only screen and (min-width: 2740px){
  .contenedor-etiquetas{
    justify-content: center;
  }
}
@media only screen and (min-width: 5240px){
  .barra-lateral{
    width: 5%;
  }
  .main{
    width: 95%;
  }
}